.div1{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: #cecce0;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 10px;
}
.team{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top:20px;
    padding-bottom:20px; 
    background: #cecce0; 
    margin-left:20%;
    margin-right:20%;
    margin-top:20px;
    margin-bottom:20px;
    
}
